<p id="notice"><%= notice %></p>

<h1>Users</h1>

    <% @users.each do |user| %>
    <div class="col-lg-offset-3 col-md-offset-3 col-md-3 order_div">
      <ul>
        <li> <strong>First Name:</strong> <%= user.first_name %></li>
        <li> <strong>Last Name: </strong><%= user.last_name %></li>
        <li> <strong>Email: </strong><%= user.email %></li>
      </ul>
      <div class="users_links">
        <li><%= link_to 'Show', user %> |</li>
        <li><%= link_to 'Edit', edit_user_path(user) %> |</li>
        <li><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </div>
    </div>
    
    <% end %>

    <%= link_to 'New User', new_user_path, class:"btn btn-info new_user_btn" %>
