<p id="notice"><%= notice %></p>

<h1>Products</h1>
<div class="container-fluid">

<% @products.each do |product| %>
  <div class="col-md-12 col-lg-6 col-xs-12 product_div">
      <p class="product_title"><%= product.name %> </p>
      <div class="product_image"> 
        <img src=<%=product.image_url %>>
      </div>
      <div class="product_description"> <%= product.description %> 
      </div>
    
      <ul class="inline_list">
        <li><%= link_to 'Show', product %>|</li>
        <li><%= link_to 'Edit', edit_product_path(product) %>|</li>
        <li><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
  </div>
 
  
  <% end %>
</div>
<br>
<div id="new_product_link">
<%= link_to 'New Product', new_product_path %>
</div>