<div id="new_listing">
<p id="notice"><%= notice %></p>
</div>

<div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-xs-12 product_div">
    <p class="product_title"><%= @product.name %> </p>
    <div class="product_image"> 
      <img src=<%=@product.image_url %>>
    </div>
    <div class="product_description"> <%= @product.description %> 
    </div>

 
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>

  </div>
