<div id="new_listing">
<p id="notice"><%= notice %></p>
</div>
<section class="container-fluid">
  <div class="col-md-6 col-lg-6 col-xs-12 product_div">
    <p class="product_title"><%= @product.name %> </p>
    <section class="product_image"> 
      <% if @product.image_url.present? %>
        <%= image_tag(@product.image_url, class:"img-zoom",  data_zoom_image: "@product.image_url") %>
      <% end %>
    </section>
    <p class="product_description"> <%= @product.description %> 
    </p>
    <p> Colour: <%= @product.colour %></p>
    <p> Price: $<%= @product.price %> </p>
    <%= form_tag "/payments/create" do %>
      <%= hidden_field_tag(:product_id, @product.id) %>
      <%= render partial: 'shared/stripe_checkout_button' %>
    <% end %>
    <p> Average Rating: <div class="rated" id="average-rating" data-score= "<%=@product.average_rating %>"></div></p>
    
    <%= link_to 'Edit', edit_product_path(@product), class:"show_links" %> |
    <%= link_to 'Back', :back, class:"show_links" %>

  </div>
  <div class="col-md-6 col-lg-6 col-xs-12 product_div">
    <h4 class="product_title"> <span class="glyphicon glyphicon-pencil"></span> Comments </h4>

    <div id="comments">
      <%= render 'new_comment' %>
      <%= render 'comments' %>
    </div>
    <%= will_paginate @comments%>
  </div>
</section>

