<!DOCTYPE html>
<html>
  <head>
    <title>Bike Berlin</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class ="navbar navbar-default">
      <div class="container-fluid">

      <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>

        <ul class="nav navbar-nav">
          <li><%=link_to 'Home', root_path %></li>
        </ul>
        <nav class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" action="/products">
            <div class="form-group">  
            <%= form_tag("/products", method:"get") do %>
            <%= label_tag(:q, "") %>
            <%= text_field_tag(:q,"", class: "form-control search_field", placeholder: "search") %>
            <%= submit_tag("Search", class: "btn btn-primary") %>
            </div>
          </form>
            <ul class="nav navbar-nav navbar-right dropdown-toggle">

            <li><%=link_to 'Bikes', products_path %></li>
            <li><%=link_to 'About', static_pages_about_path %></li>
            <li><%=link_to 'Contact', static_pages_contact_path %></li>
            <%end%>
          
            <li>
            <% if user_signed_in? %>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            <% else %>
              <%= link_to('Login', new_user_session_path) %>
            <% end %>
            </li>
          </ul>
        </nav>
      </div>
    </nav>
    <% if alert %>
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
    <% end %>
    <% if notice %>
      <div class="alert alert-warning" role="notice">
        <%= notice %>
      </div>
      <% end %>
    <%= yield %>

    <footer class="container-fluid">
      <p>&copy; 2015 Bike Berlin</p>
    </footer>
  </body>
</html>
